*{
    --color1: #101916;
    --color2:#355245;
    --color3:#afc186;
    --color4:#648374;
    --color5:#e3e5d8;
    --font01:Marker Felt, fantasy;
    --font02:cursive;
    --font03:DejaVu Sans Mono, monospace;
    --font04:Comic Sans MS, cursive;
}
body{
    background:linear-gradient(180deg, var(--color2) ,var(--color1) , var(--color1));
    /* color: var(--color5); */
    font-size: 1.2em;
    margin: 0;
    padding: 0;
}
#hedding{
    background: var(--color2);
    color: var(--color5);
    padding: 1em;
    text-align: center;
    font-family: var(--font01);
}