*{
    --color1: #41a483;
    --color2:#355245;
    --color3:#afc186;
    --color4:#648374;
    --color5:rgb(114, 115, 108);
    --font01:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    min-height: 100vh;
    /* background: url('https://i.pinimg.com/564x/c7/36/f8/c736f83436d84ddc039fe42de40c8ec7.jpg'); */
    /* background:url('../assets/beach.jpg') no-repeat; */
    background-size: cover;
    background-position: center top;
    background-attachment: fixed;

}
.header{
    position: sticky;
    /* position:static; */
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 100px;
    display: flex;
    background:transparent;
    justify-content:space-between;
    align-items: center;
    z-index: 100;
    background-color:transparent;
}
.name{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font:italic;
    box-shadow: 5px 5px 15px rgba(0,0,0,0.4);
    font-size: 35px;
    padding: 5px 10px 5px 10px;
    border-radius:25px;
    color: var(--color1);
    text-decoration: none;
    font-weight: 900;
    animation: animation1 2s infinite;
    animation-delay:0s;
}
.name span{
    color: #ffffff;
    animation: animation2 2s infinite;
    animation-delay:0s;
}
/* @keyframes animation1{
    From{
        color: var(--color5);
    }
    To{
        color: var(--color1);
    }
}
@keyframes animation2{
    From{
        color: var(--color1);
    }
    To{
        color: var(--color5);
    }
} */
.navbar {
    
    display: flex;
    right: 10vw;
    z-index: 100;
    gap: 30px;
    position: sticky;
}

.navbar a{
    background:none;
    padding: 8px 15px 8px 15px;
    border-radius: 20px;
    box-shadow: 5px 5px 15px rgba(0,0,0,0.5);
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    position: static;
    font-size: 18px;
    color:hsl(0, 0%, 100%);
    text-decoration: none;
    font-weight: 500;
    
}
.navbar a:hover{
    color:black;
    background: linear-gradient(180deg, var(--color1), var(--color3));
    transition: 0.3s;
}
.navbar a:active{
    color:black;
    box-shadow: inset 5px 5px 15px rgba(0,0,0,0.5);
    background: linear-gradient(180deg, var(--color1), var(--color3));
    transition: 0.1s;
}

footer{
    position: relative;
}

footer #icon img{
    width: 50px;
    height: 50px;
}

@media (max-width: 900px){
    .header{
        flex-direction: column;
        gap: 20px;
    }
    .navbar a{
        padding: 6px 12px 6px 12px;
        
    }
    .navbar{
        gap: 25px;
    }
}