*{
    --color1: #101916;
    --color2:#355245;
    --color3:#afc186;
    --color4:#648374;
    --color5:#e3e5d8;
    --font01:Marker Felt, fantasy;
    --font02:cursive;
    --font03:DejaVu Sans Mono, monospace;
    --font04:Comic Sans MS, cursive;
}
body{
    background:linear-gradient(200deg, var(--color2) ,var(--color1) , var(--color1));
    margin: 0;
    padding: 0;
}
/* div #hedding{
    display: flex;;
    align-items: center;
    justify-content: center;
    padding: 40px;
    padding-left: 20px;
    padding-right: 20px;
}

#hedding span{
    color: var(--color1);
}
nav{
    display: flex;
    align-items: center;
    justify-content:center;
    word-spacing: 5px;
    gap: 100px;
    /* padding-top: 40px;
    padding-left: 10%;
    padding-right: 10%; 
}
nav ul li{
    list-style-type: none;
    display: inline-block;
    padding: 10px 20px;
}
nav ul li a{
    color: var(--color3);
    text-decoration: none;
    font-weight: bold;
    color: var(--color5);
    font-size: 20px;
    font-family: var(--font03);
}
nav ul li a:hover{
    color: var(--color1);
    transition: 0.3s;
} */
.nav-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    position: relative;
}

#hedding {
    display: flex;
    align-items: center;
}

/* Center the nav in the middle of the page */
.navbar {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
    position: absolute;
    top: 10px;
    left: 50%;
    transform: translateX(-40%);
}

/* Style for nav links */
.navbar li {
    margin: 0 15px;
}

.navbar a {
    text-decoration: none;
    color: black; /* or your preferred color */
}
#hedding h1{
    color: var(--color5);
    font-family: var(--font04);
    font-size: 30px;
    flex: content;
    gap: -20px;
    /* padding-top: 40px;*/
    padding-left: 10%;
    padding-right: 10%; 
}